.task-tracker {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

.task-tracker__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 1rem 0;
}

.task-tracker__edit {
  border-color: var(--secondary);
  --gav-icon__color: #{var(--secondary)};
}

.task-tracker__delete {
  border-color: var(--error);
  --gav-icon__color: #{var(--error)};
}
