.post-list__list {
  display: flex;
  flex-direction: column;
  padding-inline: 0;
  list-style-type: none;
  row-gap: 1.5rem;
}

.post-list__list-item {
  display: flex;
}

.post-list__list-item-link {
  cursor: pointer;
  display: flex;
  column-gap: 0.5rem;  
  
  &:hover {
    .post-list__list-item-title {
      text-decoration: underline; 
    }
  }
}

.post-list__list-item-text {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.post-list__list-item-image {
  aspect-ratio: 1 / 1;
  height: 4rem;
  border-radius: 50%;
  border: 0.15rem solid var(--secondary);
  object-fit: cover;
}


.post-list__list-item-del-button {
  cursor: pointer;
  margin-left: 5rem;
  border: 0;
  border-radius: 50%;
  background-color: var(--error);
  color: var(--text);
  font-weight: 700;
  height: 3rem;
  aspect-ratio: 1 / 1;
}

.dev__loading {
  margin: 10dvh 40dvw;
  align-self: center;
}

.dev__new-post {
  cursor: pointer;
}

@media (hover: hover) {
  button {
    opacity: 0;
  }

  .post-list__list-item:hover .post-list__list-item-del-button {
    opacity: 1;
    transition: 0.25s;
  }
}
