<div class="home__card-links">
  @for (cardConfig of cardsConfig.original; track cardConfig.id) {
    <gav-card [routerLink]="cardConfig.id" [config]="cardConfig" />
  }
</div>

<div class="home__card-links">
  @for (cardConfig of cardsConfig.external; track cardConfig.id) {
    <gav-card [routerLink]="cardConfig.id" [config]="cardConfig" />
  }
</div>

@if (cardsConfig.hidden.length) {
  <div class="home__card-links">
    @for (cardConfig of cardsConfig.hidden; track cardConfig.id) {
      <gav-card [routerLink]="cardConfig.id" [config]="cardConfig" />
    }
  </div>
}
