<h1>My writings</h1>

<h3><strong>Post</strong></h3>
<div class="home__card-links">
  @for (cardConfig of cardsConfig.original; track cardConfig.id) {
    <gav-card [routerLink]="cardConfig.id" [config]="cardConfig" />
  }
</div>

<hr />

<h3><strong>External</strong></h3>
<div class="home__card-links">
  @for (cardConfig of cardsConfig.external; track cardConfig.id) {
    <gav-card [routerLink]="cardConfig.id" [config]="cardConfig" />
  }
</div>

@if (cardsConfig.hidden) {
  <h3><strong>Hidden</strong></h3>
  <div class="home__card-links">
    @for (cardConfig of cardsConfig.hidden; track cardConfig.id) {
      <gav-card [routerLink]="cardConfig.id" [config]="cardConfig" />
    }
  </div>
}
