:host {
  display: contents;
  --habit-card-success-color--3: #BF4040;
  --habit-card-success-color--2: #D47070;
  --habit-card-success-color--1: #E8A0A0;
  --habit-card-success-color-0: #FFFFFF;
  --habit-card-success-color-3: #40BF40;
  --habit-card-success-color-2: #70D470;
  --habit-card-success-color-1: #A0E8A0;

  h5, small { margin: 0 }
}

.habit-card {
  position: relative;
  padding: 1rem 0.75rem;
  flex: 1 0 20rem;
  max-width: min(calc((var(--max-content-width) - 7rem) / 2), 100%);
  display: flex;
  gap: 1rem;
  border-radius: 2rem;
  border: 2px solid var(--habit-card-selection-color);

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: var(--habit-card-selection-color);
    opacity: 0.1;
    border-radius: 2rem;
  }

  &.saving {
    pointer-events: none;
    opacity: 0.25;
  }
}

.habit-card__streak,
.habit-card__goal-effort {
  --gav-icon__height: 0.8rem;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 0.8rem;
  display: flex;
  align-items: flex-end;
  column-gap: 0.2rem;
}

.habit-card__streak {
  --gav-icon__color: #{var(--disabled)};
  color: var(--disabled);
  opacity: 0.5;

  &.today-done {
    --gav-icon__color: #{var(--bright-red)};
    color: var(--bright-red);
    opacity: 1;
    transition: 4s;
  }
}
.habit-card__goal-effort {
  --gav-icon__color: #{var(--purple)};
  color: var(--purple);
}

.habit-card__slider {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
  justify-content: space-between;

  --gav-input-slider-color: var(--habit-card-selection-color);
}

.habit-card__slider-value {
  display: flex;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: 2px solid var(--habit-card-selection-color);
  text-align: center;
  
  span {
    font-size: 0.75rem;
    color: var(--habit-card-selection-color);
    margin: auto;
  }
}

.habit-card__info {
  overflow: hidden;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.habit-card__task-title {
  --gav-icon__height: 1rem;
  --gav-icon__color: #{var(--disabled)};
  display: flex;
  align-items: center;
  gap: 0.5rem;
  white-space: nowrap;

  small {
    margin-left: auto;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.habit-card__goal {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  color: var(--secondary);
  font-size: 0.75rem;
  font-weight: 800;
  --gav-icon__height: 1rem;
  --gav-icon__color: #{var(--secondary)};

  gav-input {
    flex-grow: 1;
  }
  gav-icon.disabled {
    --gav-icon__color: #{var(--disabled)};
  }
}

.habit-card__last-weeks {
  display: flex;
  flex-flow: row wrap;
  gap: 0.1rem;
  justify-content: center;
  align-self: stretch;

  span {
    height: 1.5rem;
    border-radius: 0.25rem;
    text-align: center;
    flex: 0 0 6.3%;

    &.today {
      border: 2px solid var(--secondary);
    }
  }
}

.habit-card__rewind-button {
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  border-color: var(--disabled);

  --gav-icon__height: 1rem;
  --gav-icon__color: #{var(--disabled)};
}

.habit-card__save-button {
  position: absolute;
  bottom: -0.5rem;
  right: -0.5rem;
  border-color: var(--primary);

  --gav-icon__height: 1rem;
  --gav-icon__color: #{var(--primary)};
}

.habit-card:hover .habit-card__option-buttons {
  opacity: 1;
  transition: 0.25s;
}
.habit-card__option-buttons {
  opacity: 0;
  display: flex;
  position: absolute;
  top: -0.75rem;
  right: 2rem;
  gap: 0.25rem;

  ::ng-deep .round-button {
    width: 1.5rem;
    height: 1.5rem;
    --gav-icon__height: 0.75rem;
  }
}

@media screen and (min-width: var(--max-content-width)) {
  .habit-card {
    min-height: 17.5rem;
  }
}
