.header__icon {
  height: 1.5rem;
  border-radius: 50%;
  border: 1px solid var(--text);
  padding: 0.05rem;
  cursor: pointer;
}

small {
  opacity: 1;
  font-weight: 700;
}

.gav-header__nav-toggle {
  z-index: 1;
  padding: 0.25rem;
  border: 1px solid var(--text);
  border-radius: 50%;
  background-color: var(--accent);

  @media screen and (max-width: 980px) {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
  }
}
