@if (admin()) {
  <div class="gav-blog-post__textarea">
    <gav-textarea
      label="Edit content"
      [initText]="blogContent()"
      (textUpdates)="onUpdateText($event)"
    />

    @if (updatedContent()) {
      <button (click)="savePost()">Save changes</button>
    }
  </div>
}

@if (blogPost(); as post) {
  <div class="gav-blog-post__content">
    <h1 class="gav-blog-post__title">{{ post.title }}</h1>
    <small class="gav-blog-post__subtitle">
      @if (post.updated) {
        <strong>Updated</strong>&nbsp;
        <i>{{ post.updated.seconds * 1000 | date: 'MMMM d, y, HH:mm' }}</i>
        &nbsp;-&nbsp;
      }
      <strong>Created</strong>&nbsp;
      <i>{{ post.date.seconds * 1000 | date: 'MMMM d, y, HH:mm' }}</i>
    </small>
    <i class="gav-blog-post__viewed"><small>viewed {{ views() }}</small></i>
    <gav-rich-text [rawText]="updatedContent() || blogContent()" />
  </div>
}
