:host {
  display: flex;
  gap: 1rem;
}

.gav-blog-post__title,
.gav-blog-post__subtitle,
.gav-blog-post__viewed {
  text-align: center;
  margin-bottom: 0;
}

gav-rich-text {
  margin-top: 1rem;
}

.gav-blog-post__textarea {
  display: flex;
  flex-direction: column;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 1rem;
  bottom: 0;
  margin: auto;
  max-height: 95vh;
  width: 30rem;

  gav-textarea {
    margin-bottom: 0.5rem;
  }

  ::ng-deep.gav-textarea {
    max-height: 90vh;
  }
}

.gav-blog-post__content {
  display: flex;
  flex-direction: column;
  padding: 0 0.5rem;
  width: 100%;
}
