:host {
  pointer-events: none;
}

.header__icon {
  height: 1.5rem;
  border-radius: 50%;
  border: 1px solid var(--text);
  padding: 0.05rem;
  cursor: pointer;
}

small {
  opacity: 1;
  font-weight: 700;
}

.gav-header__nav-button {
  pointer-events: auto;
  z-index: 1;
  padding: 0.25rem;
  border: 1px solid var(--text);
  border-radius: 50%;

  &.left {
    background-color: var(--background);
  }
  &.right {
    background-color: var(--accent);
  }

  @media screen and (max-width: 980px) {
    position: fixed;
    bottom: 1rem;
    
    &.left {
      left: 1rem;
    }
    &.right {
      right: 1rem;
    }
  }
}
