.round-button {
  cursor: pointer;
  width: 1.75rem;
  height: 1.75rem;
  display: flex;
  justify-content: center;
  border-width: 2px;
  border-radius: 50%;
  border-style: solid;
  border-color: var(--disabled);
  color: var(--text);
  background-color: var(--background);
}
