
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100dvh;
  width: 100dvw;
  overflow: hidden overlay;

  font-family: "Overpass", 'Lucida Sans', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

  transition: color, background-color 0.5s;
  color: var(--text);
  background-color: var(--background);
}
body.light {
  --text: #060D08;
  --background: #FFF9D9;
  transition: color, background-color 0.5s;
}

section {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: var(--max-content-width);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--secondary);
}
hr {
  width: 100%;
  opacity: 0.5;
}
small {
  opacity: 0.75;
  font-size: 0.75rem;
}
