
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

body {
  margin: 0;
  min-height: 100dvh;
  width: 100dvw;
  overflow: hidden overlay;

  font-family: "Overpass", 'Lucida Sans', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

  @media screen and (min-width: 980px) {
    font-size: 18px;
  }

  transition: color, background-color 0.5s;
  color: var(--text);
  background-color: var(--background);
}
body.light {
  --text: #060D08;
  --background: #FFF9D9;
  transition: color, background-color 0.5s;
}

h1 {
  font-size: 2rem;
  text-align: center;
}
h1, h2, h3, h4, h5, h6 {
  color: var(--secondary);
}
hr {
  width: 100%;
  opacity: 0.5;
  margin: 0;
}
small {
  opacity: 0.75;
  font-size: 0.75rem;
}
:not(a) > strong {
  color: var(--accent);
}
a {
  text-decoration: none;
  color: var(--text);
}
pre {
  margin: 0 var(--text-margin-left);
  padding: 0.5rem;
  word-break: break-word;
  // should look like this in all themes
  background: black;
  color: whitesmoke;
  border-radius: 0.5rem;
  overflow-x: auto;
}
code {
  width: fit-content;
  color: var(--background);
  background: var(--text);
  padding: 0 0.1rem;
  border-radius: 0.3rem;
  font-weight: 700;
}
ul {
  margin: 0;
}
u {
  text-decoration: underline dashed;
  text-underline-position: under;
}
