/* width */
::-webkit-scrollbar {
  width: 0.75rem;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: var(--accent);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: var(--secondary);
}
