:root {
  font-size: 20px;

  // Original
  // --background: #030604;
  // --text: #FFF9D9;
  // --primary: #008000;
  // --secondary: #00BFFF;
  // --error: #FF4500;
  // --disabled: #414141;

  // Gemini
  // --background: #222222;
  // --text: #F8F8F8;
  // --primary: #5C8E7F;
  // --secondary: #4A7C9B;
  // --error: #A34C4C;
  // --disabled: #A3A3A3;

  --background: #111111;
  --text: #F8F8F8;
  --primary: #4E9A7B;
  --secondary: #3C81B7;
  --error: #A55B5B;
  --disabled: #7B7B7B;
  --bright-red: #FF4500;
  --purple: #A270D4;
  
  .light {
    --background: #FFF9D9;
    --text: #060D08;
    --secondary: #800080;
    --error: #8B0000;
    --disabled: #a3a3a3;

    transition: color, background-color 0.5s;
  }

  /*** STRUCTURE ***
    Configuration variables to make it easy to configure things in the app.
    Some / most of these configuration things affect several parts of the app.
  ***/
  --text-margin-left: 1rem;
  --max-content-width: 64rem;
}
