.gav-blog-post__title,
.gav-blog-post__subtitle,
.gav-blog-post__viewed {
  text-align: center;
  margin-bottom: 0;
}

.gav-blog-post__subtitle {
  cursor: pointer;
}

gav-icon {
  --gav-icon__height: 0.75rem;
}

gav-rich-text {
  margin-top: 1rem;
}

gav-textarea {
  margin-bottom: 0.5rem;
}

.gav-blog-post__config,
.gav-blog-post__textarea {
  display: flex;
  flex-direction: column;
  z-index: 1;
  position: fixed;
  top: 5rem;
  bottom: 1rem;
  margin-top: auto;
  max-height: calc(100vh - 5rem);
  width: 35rem;
  gap: 1rem;

  ::ng-deep.gav-textarea {
    max-height: 90vh;
  }

  @media screen and (max-width: 980px) {
    display: none;
  }
}

.gav-blog-post__config {
  left: 1rem;
}

.gav-blog-post__textarea {
  right: 1rem;
}

.gav-blog-post__save-post {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0.5rem;
  margin: auto;
  max-width: 30rem;
}

.gav-blog-post__content {
  display: flex;
  flex-direction: column;
  padding: 0 0.5rem 1rem;
  width: 100%;
  user-select: none;
}
