@if (admin()) {
  <div class="gav-blog-post__config">
    <gav-input label="id" [formControl]="postForm.controls.id" />
    <gav-input label="Asset URI" [formControl]="postForm.controls.assetURI" />
    <gav-input label="Category" [formControl]="postForm.controls.category" />
    <gav-input label="Description" [formControl]="postForm.controls.description" />
    <gav-input label="Title" [formControl]="postForm.controls.title" />
  </div>

  <div class="gav-blog-post__textarea">
    <gav-textarea
      label="Edit content"
      [formControl]="postForm.controls.content"
    />
  </div>

  @if (postForm.valid && postForm.dirty) {
    <button class="gav-blog-post__save-post"
      (click)="savePost()">
      Save changes
    </button>
  }
}

@if (admin() ? postForm.value : blogPost(); as post) {
  <div class="gav-blog-post__content">
    <h1 class="gav-blog-post__title">{{ post.title }}</h1>
    <small class="gav-blog-post__subtitle">
      @if (blogPost()!.updated) {
        <strong>Updated</strong>&nbsp;
        <i>{{ blogPost()!.updated.seconds * 1000 | date: 'MMMM d, y, HH:mm' }}</i>
        &nbsp;-&nbsp;
      }
      @if (blogPost()!.date) {
        <strong>Created</strong>&nbsp;
        <i>{{ blogPost()!.date.seconds * 1000 | date: 'MMMM d, y, HH:mm' }}</i>
      }
    </small>
    <i class="gav-blog-post__viewed"><small>viewed {{ views() }}</small></i>
    <gav-rich-text [rawText]="post.content || ''" />
  </div>
}
