ul {
  display: flex;
  flex-direction: column;
  padding-inline: 0;
  list-style-type: none;
  row-gap: 1.5rem;
}

a {
  cursor: pointer;
  display: flex;
  column-gap: 0.5rem;

  img {
    height: 4rem;
    border-radius: 50%;
    border: 0.15rem solid var(--secondary);
  }

  div {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
  }

  &:hover {
    div span {
      text-decoration: underline; 
    }
  }
}

li {
  display: flex;
}

button {
  cursor: pointer;
  margin-left: 5rem;
  border: 0;
  border-radius: 50%;
  background-color: var(--error);
  color: var(--text);
  font-weight: 700;
  height: 3rem;
  aspect-ratio: 1 / 1;
}

.dev__loading {
  margin: 10dvh 40dvw;
  align-self: center;
}

@media (hover: hover) {
  button {
    opacity: 0;
  }

  li:hover button {
    opacity: 1;
    transition: 0.25s;
  }
}
