$mainContentValue: calc(var(--max-content-width) - 14rem /* sidenav open */ - 6rem /* little lverage*/);

:host {
  display: block;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  flex: 1 1 calc($mainContentValue / 2);
  border-radius: 3rem;
  height: 14rem;
  font-size: 3rem;
  background-image: var(--gav-card__bg-url);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 10%;

  &:hover {
    transition: 0.25s;
    box-shadow: 0 0 0.5rem -0.25rem var(--secondary);

    .gav-card__backdrop {
      opacity: 0;
      transition: 0.25s;
    }
    .gav-card__text {
      opacity: 0;
      transition: 0.25s;
    }
  }
}

.gav-card__backdrop,
.gav-card__text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.gav-card__backdrop {
  background-color: var(--background);
  opacity: 0.25;
}

.gav-card__text {
  height: fit-content;
  margin: auto;
}
