<form
  class="new-task-card"
  [formGroup]="taskForm()"
>
  <div class="new-task-card__identifiers">
    <gav-input
      name="id"
      formControlName="id"
      [options]="{ placeholder: 'id' }"
    />

    <gav-input
      name="icon"
      type="select"
      formControlName="icon"
      [options]="{
        placeholder: 'icon',
        selectOptions: allIcons,
        selectOptionTemplate: iconSelectorTemplate,
      }"
    />
  </div>

  <gav-input
    formControlName="title"
    [options]="{ placeholder: 'title' }"
  />
  <gav-input
    type="textarea"
    formControlName="description"
    [options]="{ placeholder: 'description' }"
  />

  <div class="new-task-card__buttons">
    @if (taskId()) {
      <button
        class="new-task-card__cancel round-button"
        (click)="cancel.emit()"
      >
        <gav-icon icon="plus" />
      </button>
    }

    <button
      class="new-task-card__submit round-button"
      (click)="submitNewTask()"
    >
      @let icon = taskId() ? 'save' : 'plus';
      <gav-icon [icon]="icon" />
    </button>
  </div>
</form>

<!-- Templates -->
<ng-template #iconSelectorTemplate let-value>
  <gav-icon class="new-task-card__select-input-icon" [icon]="value" />
</ng-template>
