:host {
  display: contents;

  ::ng-deep {
    .gav-input-select__options {
      --gav-icon__color: #{var(--disabled)};

      span:hover,
      span.selected {
        --gav-icon__color: #{var(--white)};
      }
    }
  }
}

.new-task-card {
  display: flex;
  flex-direction: column;
  flex: 1 0 20rem;
  row-gap: 1rem;
  max-width: min(calc((var(--max-content-width) - 7rem) / 2), 100%);
  border: 2px solid var(--disabled);
  padding: 1.5rem 1rem;
  border-radius: 2rem;
  position: relative;
}

.new-task-card__identifiers {
  display: flex;
  gap: 0.25rem;

  gav-input[name="id"] {
    flex: 1 0 0;
  }
  gav-input[name="icon"] {
    width: 4rem;
  }
}

.new-task-card__buttons {
  position: absolute;
  bottom: -1rem;
  right: 1rem;
  display: flex;
  gap: 0.25rem;
  --gav-icon__height: 1rem;
}

.new-task-card__submit {
  border-color: var(--primary);
  --gav-icon__color: #{var(--primary)};
}

.new-task-card__cancel {
  transform: rotate(45deg);
  border-color: var(--disabled);
  --gav-icon__color: #{var(--disabled)};
}

.new-task-card__select-input-icon {
  --gav-icon__height: 1rem;
}

@media screen and (min-width: var(--max-content-width)) {
  .new-task-card {
    min-height: 17.5rem;
  }
}
