<form
  class="new-task-card"
  [formGroup]="newTaskForm"
>
  <div class="new-task-card__identifiers">
    <gav-input
      name="id"
      formControlName="id"
      [options]="{ placeholder: 'id' }"
    />
    <gav-input
      name="icon"
      type="select"
      formControlName="icon"
      [options]="{
        placeholder: 'icon',
        selectOptions: allIcons,
        selectOptionTemplate: iconSelectorTemplate,
      }"
    />
  </div>

  <gav-input
    formControlName="title"
    [options]="{ placeholder: 'title' }"
  />
  <gav-input
    type="textarea"
    formControlName="description"
    [options]="{ placeholder: 'description' }"
  />

  <button
    class="new-task-card__button round-button"
    (click)="submitNewTask()"
  >
    <gav-icon icon="plus" />
  </button>
</form>

<!-- Templates -->
<ng-template #iconSelectorTemplate let-value>
  <gav-icon class="new-task-card__select-input-icon" [icon]="value" />
</ng-template>
