:host {
  --gav-card__width: calc(min(100dvw, calc(var(--max-content-width) / 2)) - 2rem /*1 margin + 0.5 padding + 0.5 gap*/);

  display: block;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  flex: 1 0 var(--gav-card__width);
  max-width: 50%;
  border-radius: 3rem;
  height: 14rem;
  font-size: 3rem;
  background-image: var(--gav-card__bg-url);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 10%;

  @media screen and (max-width: 44rem) {
    max-width: unset;
  }

  &:hover {
    transition: 0.25s;
    box-shadow: 0 0 1.5rem 0 var(--accent);

    .gav-card__backdrop {
      opacity: 0;
      transition: 0.25s;
    }
    .gav-card__text {
      opacity: 0;
      transition: 0.25s;
    }
  }
}

.gav-card__backdrop,
.gav-card__text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.gav-card__backdrop {
  background-color: var(--background);
  opacity: 0.5;
}

.gav-card__text {
  height: fit-content;
  margin: auto;
}
