:host {
  display: flex;
  flex-direction: column;

  h1, h2, h5 {
    margin: 0;
  }
}

.changelog__version {
  margin: 0.5rem 0;
  display: flex;
  align-items: baseline;
  gap: 1rem;
}

.changelog__load-more {
  --gav-icon__height: 2rem;
  --gav-icon__color: var(--primary);
  align-self: center;

  &::ng-deep .gav-icon__text{
    font-size: 2rem;
  }
  &:hover::ng-deep {
    color: var(--primary);
    transition: 0.2s;
  }
}

.changelog__details {
  &[open] .changelog__details-icon {
    transition: 0.2s;
    transform: rotate(270deg);
  }

  &:not([open]) .changelog__details-icon {
    transition: 0.2s;
    transform: rotate(180deg);
  }
}

.changelog__details-summary {
  display: flex;
  align-items: flex-start;
  cursor: pointer;
}

.changelog__details-icon {
  --gav-icon__height: 1rem;
}

.changelog__details-title {
  display: inline;
}
