@import './styles/index';

:root {
  --background: #060D08;
  --text: #FFF9D9;
  --secondary: #10944B;
  --accent: #035B54;
  --error: #BE452D;

  // configurable variables
  --max-content-width: 64rem;
}
