:host {
  display: contents;
  --task-card-success-color--3: #800000;
  --task-card-success-color--2: #BF4040;
  --task-card-success-color--1: #E8A0A0;
  --task-card-success-color-0: #FFFFFF;
  --task-card-success-color-1: #A0E8A0;
  --task-card-success-color-2: #40BF40;
  --task-card-success-color-3: #008000;
}

.task-card {
  position: relative;
  padding: 1rem 0.75rem;
  flex: 1 0 20rem;
  max-width: min(calc((var(--max-content-width) - 7rem) / 2), 100%);
  display: flex;
  gap: 1rem;
  border-radius: 2rem;
  border: 2px solid var(--task-card-selection-color);

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: var(--task-card-selection-color);
    opacity: 0.1;
    border-radius: 2rem;
  }
}

.task-card__slider {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
  justify-content: space-between;

  --gav-input-slider-color: var(--task-card-selection-color);
}

.task-card__slider-value {
  display: flex;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: 2px solid var(--task-card-selection-color);
  text-align: center;
  
  span {
    font-size: 0.75rem;
    height: 0.75rem;
    color: var(--task-card-selection-color);
    margin: auto;
  }
}

.task-card__info {
  overflow: hidden;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.task-card__task-title {
  --gav-icon__height: 1rem;
  --gav-icon__color: #{var(--disabled)};
  display: flex;
  align-items: center;
  gap: 1rem;
  white-space: nowrap;

  h5, small { margin: 0 }
  small {
    margin-left: auto;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.task-card__goal {
  color: var(--secondary);
  font-size: 0.75rem;
  font-weight: 800;
  --gav-icon__height: 0.5rem;
  --gav-icon__color: #{var(--secondary)};
}

.task-card__last-weeks {
  display: flex;
  flex-flow: row wrap;
  gap: 0.1rem;
  justify-content: center;
  align-self: stretch;

  span {
    height: 0.95rem;
    border-radius: 0.25rem;
    text-align: center;
    flex: 0 0 6.3%;

    &.today {
      border: 2px solid var(--secondary);
    }
  }
}

.task-card__rewind-button {
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  border-color: var(--disabled);

  --gav-icon__height: 1rem;
  --gav-icon__color: #{var(--disabled)};
}

.task-card__save-button {
  position: absolute;
  bottom: -0.5rem;
  right: -0.5rem;
  border-color: var(--primary);

  --gav-icon__height: 1rem;
  --gav-icon__color: #{var(--primary)};
}

.task-card:hover .task-card__option-buttons {
  opacity: 1;
  transition: 0.25s;
}
.task-card__option-buttons ::ng-deep {
  opacity: 0;
  display: flex;
  position: absolute;
  top: -0.75rem;
  right: 2rem;
  gap: 0.25rem;

  .round-button {
    width: 1.5rem;
    height: 1.5rem;
    --gav-icon__height: 0.75rem;
  }
}
