.non-zero {
  display: flex;
  flex-direction: column;
}

.non-zero__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 1rem 0;
  justify-content: space-evenly;
  align-items: center;
}

.non-zero__edit {
  border-color: var(--secondary);
  --gav-icon__color: #{var(--secondary)};
}

.non-zero__delete {
  border-color: var(--error);
  --gav-icon__color: #{var(--error)};
}
